@media only screen and (min-width:48em) {
    .container {
        width: 46rem;
        width: 49rem
    }
}

@media only screen and (min-width:64em) {
    .container {
        width: 46rem;
        width: 49rem
    }
}

@media screen and (max-width:767px) {

    .one-fourth,
    .one-half,
    .one-third,
    .two-third {
        width: 100%
    }

    .row.tight-row {
        width: 100%
    }

    .post {
        width: 280px;
        margin: auto
    }

    .post.habar,
    .post.voipscan {
        margin-top: 4rem
    }

    .post .line .description.web {
        width: 100%
    }

    .post .line .description.left,
    .post .line .description.right {
        padding: 0
    }

    .post .line .image.web img {
        width: 100%
    }

    .post .line .image.web.in-grid {
        padding: 0
    }
}

@media screen and (max-width:767px) {
    .header {
        padding: 5rem 1rem 2rem
    }

    .header .h1 {
        font-size: 1.4rem
    }
}