.container {
    margin-right: auto;
    margin-left: auto;
}

#eng {
    display: block;
}
#rus {
    display: none;
}

.row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row.flex-row {
    flex-direction: row;
}

.row.tight-row {
    width: 70%;
    margin: 0 auto;
}

.column {
    padding: .5rem;
    margin: -.5rem;
}

.full {
    width: 100%;
}

.one-half {
    width: 50%;
}

.two-third {
    width: 66.6666%;
}

.one-third {
    width: 33.3333%;
}

.one-fourth {
    width: 25%;
}

.row.flex-column {
    flex-direction: column;
}

.over-width {
    width: 180%;
    margin-left: -16rem;
    margin-right: -16rem;
}

.header {
    padding: 5rem 5rem 2rem;
}

.header .avatar {
    text-align: center;
    display: block;
}

.header .avatar img {
    border-radius: 100%;
    border: .5rem solid #c7f5e1;
    width: 10rem;
}

.header .socials {
    margin: auto;
    width: 200px;
}

.header .socials a {
    font-size: 2rem;
}

.header .change-lang {
    top: 20px;
    right: 20px;
    position: fixed;
    background-color: white;
    color:#197558;
    border: 2px solid #197558;
    border-radius: 20px;
    padding: 8px 26px;
    font-weight: 500;
}

.header .change-lang:hover {
    background-color: #197558;
    color: white;
    border: 2px solid #197558;
}

.header .change-lang:active,
.header .change-lang:focus {
    background-color: #5ab38c;
    border: 2px solid #5ab38c;
    color: white;
    outline: none;
}


img {
    width: 100%;
}

.image {
    padding: 0 1rem;
}

.post {
    margin-bottom: 5rem;
}

.post .line {
    margin: 2rem 0;
}

.post .line:first-child {
    margin-top: 0;
}

.post .line:last-child {
    margin-bottom: 0;
}

.post .line .description.web {
    margin: auto;
}

.post .line .description.right {
    padding-left: 2rem;
}

.post .line .description.left {
    padding-right: 2rem;
}

.post .line .image.web {
    padding:  0;
}

.post .line .image.web.in-grid {
    padding: 0 .5rem .5rem;
}

.post .line .row .one-third:first-child .image.web.in-grid {
    padding-left: 0; 
}

.post .line .row .one-third:last-child .image.web.in-grid {
    padding-right: 0; 
}

.post .line .image.web img {
    box-shadow: 1px 1px 5px #868383
}



.h1,
.h2,
.h3,
.h4,
.h5,
body,
h1,
h2,
h3,
h4,
h5,
button {
    color: #494949;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif
}

.h1,
.h2,
h1,
h2 {
    font-weight: 500;
}

h4 {
    margin-bottom: 0;
}

p {
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

a {
    color: #28a57e
}

a:hover,
a:focus,
a:visited {
    outline: none;
    color: #197558
}

.greeting {
    text-align: center;
    margin-bottom: 2rem
}

.footer {
    text-align: center;
    padding-bottom: 2rem
}